# Maven
target/
**/target/
*.jar
*.war
*.ear
.git

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Mac
.DS_Store

# Environment
.env
*.env.local
application-dev.yml
application-prod.yml

# Logs
*.log
logs/

# Spring Boot
spring-pidk8s/.dev-secrets.env
k8s/.prod-secrets.env
